{% extends "account/base.html" %}

{% block title %}Обратно, в сладкие объятия анонимности{% endblock %}

{% block content-account %}
<h1>Разлогиниться?</h1>

<p>Обратный путь, конечно, есть всегда. Но... ты точно этого хочешь?</p>

<form class="pure-form" method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="pure-button button-primary">Да, хочу выйти</button>
</form>


{% endblock %}
