{% extends "account/base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content-account %}

    <h1>Сброс пароля</h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Забыл пароль? Бывает! Вбей в форму ниже свой почтовый ящик и мы отправим тебе письмо с инструкциями.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="pure-form pure-form-stacked">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="pure-button button-primary" value="Выслать инструкции" />
    </form>

    <p>Если ничего не получается, то всегда можно написать Адаму, он все исправит! Контактный e-mail можно найти внизу страницы.</p>
{% endblock %}
