{% extends "account/base.html" %}

{% block title %}Смена пароля{% endblock %}

{% block content-account %}
    <h1>{% if token_fail %}Плохой токкен, очень плохой токкен!{% else %}Смена пароля{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>Ссылка для смены пароля не работает. Скорее всего потому, что ей уже воспользовались ранее. Пожалуйте, заказжите <a href="{{ passwd_reset_url }}">новую ссылку для сброса пароля</a>.</p>
    {% else %}
        {% if form %}
            <form method="POST" action="." class="pure-form pure-form-stacked">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" class="pure-button button-primary" value="Сменить пароль"/>
            </form>
        {% else %}
            <p>Ваш пароль изменен</p>
        {% endif %}
    {% endif %}
{% endblock %}
