{% extends "account/base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content-account %}
<h1>Регистрация</h1>

<p>Уже делал такое? тогда тебе надо <a href="{{ login_url }}">авторизоваться</a>.</p>

<form class="pure-form pure-form-stacked" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="pure-button button-primary" type="submit">Отправить &raquo;</button>
</form>

{% endblock %}
