{% extends "account/base.html" %}

{% block title %}Подтверждение E-mail{% endblock %}

{% block content-account %}
<h1>Подтверждение E-mail</h1>

{% url 'account_email' as email_url %}

<p>Если коротко, то мы хотим быть уверенны в том, что указанный Вами почтовыя ящик принадлежит именно Вам.</p>

<p>Для этого мы отправили на него письмо с секретной ссылкой. Перейдя по этой ссылке Вы все всем докажите, не сомневайтесь!</p>

<p><strong>Между прочим:</strong> Вы все еще можете <a href="{{ email_url }}">сменить e-mail</a>.</p>

{% endblock %}
