{{ form.non_field_errors }}

{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}

<fieldset>
    {% for field in form.visible_fields %}
        {{ field.label_tag }} {{ field }}

        {{ field.errors }}

        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    {% endfor %}

    <button type="submit" class="pure-button background-primary">{{ submit_text }}</button>
    {% if reset_url and reset_text %}
    &nbsp;<a href="{{ reset_url }}" class="pure-button background-secondary">{{ reset_text }}</a>
    {% endif %}
</fieldset>