{{ form.non_field_errors }}

{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}

<fieldset>
{% for field in form.visible_fields %}
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-4">
            <div class="form_label">
                {{ field.label_tag }}
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-3-4">
            <div class="form_field">
                {{ field }}
                {{ field.errors }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-4"></div>
        <div class="pure-u-1 pure-u-md-3-4">
            <div class="form_field">
                <button type="submit" class="pure-button background-primary">{{ submit_text }}</button>
                {% if reset_url and reset_text %}
                &nbsp;<a href="{{ reset_url }}" class="pure-button background-secondary">{{ reset_text }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</fieldset>