{% extends "blog/base.html" %}

{% load account static %}

{% block title %}Бложе тебя храни{% endblock %}

{% block content-container %}
    <div class="blog_list">
        {% for blog in object_list %}
        <div class="pure-g blog_list_item {% cycle 'blog_list_item_dark' 'blog_list_item_light' %}">
            <div class="pure-u-1-1 pure-u-md-1-6">
                <div class="blog_list_profile_photo">
                {% if blog.photo %}
                    <img src="{{ blog.photo.list.url }}" alt="">
                {% else %}
                    <img src="{% static "app/img/user.svg" %}" alt="" width="100">
                {% endif %}
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-1-2">
                <div class="blog_list_item_data">
                    <a class="profile_link" href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
                    <div class="owner">Владелец: <a href="{{ blog.owner.profile.get_absolute_url }}">{% user_display blog.owner %}</a></div>
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-1-3">
                <div class="follow">
                    <a href="#" class="pure-button background-primary">Подписаться</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}