{% extends "blog/base.html" %}
{% load guardian_tags account static %}

{% block title %}{{ post.title }}{% endblock %}

{% block content-before-container %}
    <div class="blog-info">
        <div class="container">
            <div class="user_profile_photo">
            {% if post.author.profile.photo %}
                <img src="{{ post.author.profile.photo.small.url }}" alt="{% user_display post.author %}">
            {% else %}
                <img src="{% static "app/img/user.svg" %}" alt="{% user_display post.author %}" width="60">
            {% endif %}
            </div>
            <div class="user_info">
                <div class="post_user_blog">
                    Пишет <a class="profile_link" href="{{ post.author.profile.get_absolute_url }}">{% user_display post.author %}</a>
                    в блоге <a class="blog_link" href="{{ post.blog.get_absolute_url }}">{{ post.blog.title }}</a>
                </div>
                <div class="post_published">
                    {{ post.published | date:"l, j E Y, H:i" }}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% block content-container %}
    {% get_obj_perms request.user for post as "post_perms" %}
    <div class="pure-g">
        <div class="pure-u-1-1">
            <h1{% if 'change_post' in post_perms %} data-fixture data-name="title" {% endif %}>{{ post.title }}</h1>
            {% if 'change_post' in post_perms %}<div data-editable data-name="body" >{% endif %}
            {{ post.body_html | safe }}
            {% if 'change_post' in post_perms %}</div>{% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    {% get_obj_perms request.user for post as "post_perms" %}
    {% if 'change_post' in post_perms %}
    <script src="{% static 'app/js/api.js' %}"></script>
    <script src="{% static 'app/editor/content-tools.min.js' %}"></script>
    <script src="{% static 'app/js/image-uploader.js' %}"></script>
    <script src="{% static 'app/editor/editor.js' %}"></script>
    {% endif %}
{% endblock %}

{% block extrahead %}
    {% get_obj_perms request.user for post as "post_perms" %}
    {% if 'change_post' in post_perms %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/editor/content-tools.min.css' %}">
    {% endif %}
    <meta name="page-id" content="{{post.id}}"/>
{% endblock %}
