html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'PT Sans', sans-serif;
}

a, a:visited, a:active {
    color: #79aef2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;   
}

.container {
    margin: 0 auto;
    max-width: 80em;
    min-width: 20em;
    padding: 0;
}

#header {
    background: #f6f7f9;
    box-shadow: 0px 0px 3px #999;
    position: relative;
    z-index: 20;
}

#header .menu-block {
    vertical-align: middle;
    text-align: center;
}

#header .menu-item {

}

#header .menu-item span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#header .menu-item a, #header .menu-item a:visited {
    padding: 0;
    display: block;
    height: 90px;
    line-height: 90px;
    color: #b8bdc5;
    position: relative;
}

#header .menu-item a.active, #header .menu-item a.active:visited {
    background: #dce1ea;
    border-left: none;
    color: #7a818f;
}

#header .menu-item a.active:after {
    content: " ";
    border-bottom: 2px solid #79aef2;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#header .menu-item.menu-logo a {
    display: inline
}

#header .menu-item a:hover {
    text-decoration: none;
    background: #ffffff;
    color: #b8bdc5;
}

#header .menu-item.menu-logo a:hover {
    text-decoration: none;
    background: transparent;
}

#header .menu-item.menu-logo a img {
    max-width: 110px;
    min-width: 90px;
    width: 90%;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#personal_menu {
    background: #6db8f1;
}

#personal_menu a, #personal_menu a:visited, #personal_menu a:hover {
    padding: 0;
    display: block;
    height: 40px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
}
#personal_menu a:hover {
    background: #7cbff2;
}

#personal_menu a span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#messages {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#messages .message {
    padding: 1em;
    margin: 1em;
}

#content {
    padding: 0 0 2em 0;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

#content .user_profile_hr {
    width: 100%;
    height: 0;
    border-bottom: 1px solid #dce1ea;
}

#content .user_profile .profile_background {
    height: 205px;
    background-color: #bfc4cc;
    background-size: cover;
    background-position: 50% 50%;
}

#content .user_profile .users_detail .profile_content {
    position: relative;
    min-height: 200px;
    padding-top: 1em;
}

#content .user_profile .users_detail .user_profile_photo {
    border-radius: 170px;
    border: 5px solid #ffffff;
    display: block;
    text-align: center;
    width: 170px;
    overflow: hidden;
    margin: -90px auto 50px auto;
    background-color: #ffffff;
}

#content .user_profile .users_detail .profile_followers {
    text-align: center;
}

#content .user_profile .users_detail .profile_followers .followers-counter {
    color: #79aef2;
    font-size: 2em;
    font-weight: bold;
}

#content .user_profile .users_detail .profile_followers .followers-description{
    color: #596273;
    font-size: 0.9em;
}

#content .user_profile .tab-contents {
    background-color: #edf0f4;
    padding: 20px;
    position: relative;
}

#content .user_profile .tab-contents:before, #content .user_profile .tab-contents:after {
    content: "";
    position: absolute;
    width: 50%;
    background-color: #edf0f4;
    top: 0;
    bottom: 0;
}

#content .user_profile .tab-contents:before {
    left: 0;
    margin-left: 100%;
}

#content .user_profile .tab-contents:after {
    right: 0;
    margin-right: 100%;
}

#content .user_profile .follow {
    margin: 3em auto;
    text-align: center;
}

#content .user_profile .users_list .user_list_profile_photo {
    border-radius: 100px;
    display: block;
    text-align: center;
    width: 100px;
    overflow: hidden;
    margin: 2em auto;
    background-color: #ffffff;
}

#content .user_profile .users_list .users_list_item {
    background-color: #edf0f4;
    position: relative;
    padding: 0 1em;
    text-align: center;
}

#content .user_profile .users_list .users_list_item:before, #content .user_profile .users_list .users_list_item:after {
    content: "";
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
}

#content .user_profile .users_list .users_list_item.users_list_item_dark,
#content .user_profile .users_list .users_list_item.users_list_item_dark:before,
#content .user_profile .users_list .users_list_item.users_list_item_dark:after{
    background-color: #edf0f4;
}

#content .user_profile .users_list .users_list_item.users_list_light,
#content .user_profile .users_list .users_list_item.users_list_light:before,
#content .user_profile .users_list .users_list_item.users_list_light:after{
    background-color: #ffffff;
}

#content .user_profile .users_list .users_list_item:before {
    left: 0;
    margin-left: 100%;
}

#content .user_profile .users_list .users_list_item:after {
    right: 0;
    margin-right: 100%;
}


#content .user_profile .users_list .users_list_item .user_list_profile_data {
    padding: 2em 0;
}

#content .user_profile .users_list .users_list_item .profile_link, #content .user_profile .users_list .users_list_item .profile_link:visited {
    color: #596273;
    font-size: 2em;
}

#content .user_profile .users_list .users_list_item .status {
    margin: 0.5em 0;
}

#content .user_profile .users_list .users_list_item .profile_followers {
    margin-top: 1em;
}

#content .user_profile .users_list .users_list_item .profile_followers .followers-counter {
    font-size: 1em;
}

#content .user_profile .users_list .users_list_item .profile_followers .followers-description {
    font-size: 0.8em;
}

#content .user_profile .users_list .users_list_item .follow {
    margin: 2em auto;
}

#footer {
    border-top: 1px solid #dce1ea;
    background: #f6f7f9;
    padding: 15px 0;
}

#footer .ages {
    background: #79aef2;
    color: #FFF;
    padding: 3px 5px;
    margin: -3px 10px -3px 0px;
    border-radius: 6px;
    font-weight: bold;
    vertical-align: middle;
    font-size: 0.9em;
}

#footer .footer-logo {
    padding-left: 0.75em;
    vertical-align: middle;
}

#footer .copyrights-block,
#footer .contacts-block {
    padding: 0 10px 15px 10px;
    text-align: center;
    font-size: 0.75em;
    line-height: 1.5em;
}

#footer .copyrights-text,
#footer .contacts-text {
    vertical-align: middle;
}


/* general classes */

.background-primary, .background-primary:visited {
    background: #79aef2;
    color: #ffffff;
}

.color-primary {
    color: #79aef2;
}

.pure-button {
    padding: 1em 4em;
}

.smaller {
    font-size: 0.9em;
}

.tab, .tab:visited {
    color: #FFFFFF;
    background-color: #bfc4cc;
    font-size: 1.5em;
    text-align: center;
    padding: 10px 20px;
}
.tab:hover {
    background-color: #cacfd7;
}

.tab.active {
    color: #596273;
    background-color: #edf0f4;
}

.form_label, .form_field {
    text-align: center;
    margin: 0.5em 1em;
}

.form_label label {
}


/* ≥ 568px */
@media screen and (min-width: 35.5em) {
}

/* ≥ 768px */
@media screen and (min-width: 48em) {
    .container {
        padding: 0 2em;
    }

    #footer .copyrights-block, #footer .contacts-block {
        padding: 0 0 15px 0;
    }

    #footer .copyrights-block {
        text-align: right;
    }

    #footer .contacts-block {
        text-align: left;
    }

    #header .menu-logo {
        text-align: left;
    }

    #header .menu-item a {
        border-left: 1px solid #e3e7ee;
    }

    #header .menu-item.menu-logo a {
        border: none;
    }

    #content .user_profile .users_list .users_list_item {
        padding: 0;
        text-align: left;
    }

    #content .user_profile .users_list .users_list_item .follow {
        margin: 3.5em auto 1em;
    }

    .form_label {
        text-align: right;
    }
    .form_field {
        text-align: left;
    }
}

/* ≥ 1024px */
@media screen and (min-width: 64em) {
    
}

/* ≥ 1280px */
@media screen and (min-width: 80em) {

}