{% extends "user_profile/base.html" %}

{% load account static %}

{% block title %}Статус пользователя: {% user_display user %}{% endblock %}

{% block content-container %}
    <div class="users_detail">
        <h1>Шиколбасный статус</h1>
        <div class="pure-g">
            <div class="pure-u-3-4">
                <form class="pure-form pure-form-aligned" method="post" action="{%  url 'user-profile-status-edit' %}">
                    {% csrf_token %}
                    {% include "snippets/form_snippet_aligned.html" with form=form submit_text="Применить" %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}