<!doctype html>{% load static account %}{% spaceless %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Коллективное сознательное{% endblock %} - JASN</title></title>

    <link rel="stylesheet" href="{% static "app/css/pure-min.css" %}">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static "app/css/grids-responsive-old-ie-min.css" %}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{% static "app/css/grids-responsive-min.css" %}">
    <!--<![endif]-->

    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{% static "app/css/main.css" %}">
    {% block extrahead %}{% endblock %}
</head>
<body>

    {% if user.is_authenticated %}
    <div id="personal_menu">
        <div class="container pure-g">
            <div class="pure-u-1 pure-u-md-4-24">
                <a href="{{ user.profile.get_absolute_url }}">
                    <span>{% user_display user %}</span>
                </a>
            </div>
            <div class="pure-u-1 pure-u-md-4-24">
                <a href="#">
                    <span>Лента событий</span>
                </a>
            </div>
            <div class="pure-u-1 pure-u-md-4-24">
                <a href="{% url 'user-blog-list' %}">
                    <span>Мои блоги</span>
                </a>
            </div>
            <div class="pure-u-1 pure-u-md-4-24">
                <a href="#">
                    <span>Мои клубы</span>
                </a>
            </div>
            <div class="pure-u-1 pure-u-md-4-24">
                <a href="#">
                    <span>Мои сообщения</span>
                </a>
            </div>
            <div class="pure-u-1 pure-u-md-4-24">
                <a href="{% url 'user-settings' %}">
                    <span>Мои настройки</span>
                </a>
            </div>
        </div>
    </div>
    {% endif %}

    <div id="header">
        <div class="container menu-block">
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-5-24 menu-item menu-logo">
                    <a href="/">
                        <img class="header-logo" src="{% static "app/img/logo.svg" %}" width="110px">
                    </a>
                </div>
                <div class="pure-u-1 pure-u-md-3-24 menu-item">
                    <a href="/"><span>Клубы</span></a>
                </div>
                <div class="pure-u-1 pure-u-md-3-24 menu-item">
                    <a href="{% url 'blog-list' %}"{% block menu-item-blog %}{% endblock %}><span>Блоги</span></a>
                </div>
                <div class="pure-u-1 pure-u-md-3-24 menu-item">
                    <a href="{% url 'user-profile-list' %}"{% block menu-item-user %}{% endblock %}><span>Люди</span></a>
                </div>
                <div class="pure-u-1 pure-u-md-7-24 menu-item">
                    
                </div>
                <div class="pure-u-1 pure-u-md-3-24 menu-item">
                    {% if user.is_authenticated %}
                    <a href="{% url 'account_logout' %}"><span>Выход</span></a>
                    {% else %}
                    <a href="{% url 'account_login' %}"><span>Вход</span></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
        <div id="messages">
            <div class="container">
        {% for message in messages %}
            <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
            </div>
        </div>
    {% endif %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        <div class="container">
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-3-5 contacts-block">
                    <span class="ages">18+</span>
                    <span class="contacts-text">по всем вопросам можно стучаться на <a href="mailto:adam@jasn.ru">adam@jasn.ru</a></span>
                </div>
                <div class="pure-u-1 pure-u-md-2-5 copyrights-block">
                    <span class="copyrights-text">&copy; <b>2012 - {% now "Y" %}</b> Коллективное сознательное</span>
                    <img class="footer-logo" src="{% static "app/img/logo.svg" %}" width="40px">
                </div>
            </div>
        </div>
    </div>
    {% block extra_body %}{% endblock %}
</body>
</html>{% endspaceless %}